<div class="bs-docs-section clearfix">
      <div class="row">
        <div class="col-lg-12">
          <div class="page-header">
            <h1><%= @prescription.medication_name %></h1>
          </div>
          <div class="body">
            <h2>Disclaimer</h2>
            <p><%= @prescription.get_disclaimer %></p>
            <h2>Standard Prescription Label</h2>
            <p><%= @prescription.get_script_label %></p>
          </div>
        </div>
      </div>
</div>
