<div> 
  <%= form_for @medication, remote: true, url: "/search" do |f| %>
    <%= f.collection_select :id, current_user.keywords.order(:name),:id,:name, include_blank: "Other" %>
    <%= f.submit "Search for Medication"%>
  <% end %>
</div>