<h1>List of Patients:</h1>

<% @patients.each do |patient| %>
  <h2><%= link_to("#{patient.first_name} #{patient.last_name}", patient_path(patient) )%> </h2>
  <ul>
    <li><%= patient.email %></li>
  </ul>
  <% end %>