<p id="notice"><%= notice %></p>

<p>
  <h3>Name:</h3>
  <%= @patient.name %>
</p>

<p>
  <h3>Email:</h3>
  <%= @patient.email %>
</p>

<p>
  <h3>Phone Number:</h3>
  <%= @patient.phone_number %>
</p>