<h1>List of Doctors:</h1>

<% @doctors.each do |doctor| %>
  <h2><%= link_to("#{doctor.first_name} #{doctor.last_name}", doctor_path(doctor) )%> </h2>
  <ul>
    <li><%= doctor.email %></li>
  </ul>
  <% end %>