<% if @patient.missed_scheduled_dose? %>
    <div class="alert alert-dismissible alert-warning">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <h4>Warning!</h4>
      <p>Looks like you missed a scheduled dose yesterday. Please contact <a href="<%= patient_conversations_path(@patient) %>" class="alert-link">your physician</a>.</p>
    </div>
<% end %>

<h1>List of Scheduled Doses for <%= @patient.name %> Today:</h1>

<div class="scheduled_doses">
  <% @patient.scheduled_doses_for_today.each do |sd| %>
    <%= render partial: "scheduled_dose", locals: {:sd => sd} %>
  <% end %>
</div>






    